com.vispractice.amoeba.loader.file/src/com/meidusa/amoeba/xml/function.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT amoeba:function ( function* ) >
<!ATTLIST amoeba:function
  xmlns:amoeba CDATA #FIXED "http://amoeba.meidusa.com/" 
>

<!ELEMENT function (property* ) >
<!ATTLIST function name CDATA #REQUIRED >
<!ATTLIST function class CDATA #REQUIRED >

<!ELEMENT property ( #PCDATA | bean)* >

<!ELEMENT bean (property*) >
<!ATTLIST bean name NMTOKEN #IMPLIED >
<!ATTLIST bean class NMTOKEN #IMPLIED >

<!ATTLIST property name NMTOKEN #REQUIRED >